<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#">TS &amp; AngularJS</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <p ng-show="navigation.isAuthenticated" class="navbar-text">
                You are logged in as {{navigation.username}}.
            </p>
        </ul>
    </div>
</nav>
