<div ng-controller="app.todo.ListController as list">

    <div class="page-header">
        <h2>Todo List</h2>
    </div>

    <div>
        <button type="button" class="btn btn-primary" ng-click="list.add()">
            Create New Todo
        </button>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Due</th>
                <th>Completed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="todo in list.getAllActive()">
                <td><a href="#" ng-click="list.edit(todo)">{{todo.id}}</a></td>
                <td>{{todo.description}}</td>
                <td>{{todo.dueAt}}</td>
                <td>{{todo.completedAt}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="list.complete(todo.id)" ng-show="!todo.completedAt">
                        Complete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div ng-controller="app.todo.EditController as edit"
     ng-include="'app/todo/edit.html'">
</div>






